extends layout

block content
    h1= title

    p #[strong Title:]
        a(href=book.url) #{book.title}
    p #[strong Summary:] #{book.summary}

    div(style="margin-left: 20px;")
        if bookinstances.length
            p #[strong Delete the following books' copy before attempting to delete this book.]

            h4 Copies

            each val in bookinstances
                if val.status == "可供借阅"
                    p.text-success #{val.status}
                else if val.status == "馆藏维护"
                    p.text-danger #{val.status}
                else
                    p.text-warning #{val.status}
                p #[strong Imprint:] #{val.imprint}
                if val.status!="可供借阅"
                    p #[strong Due back:] #{val.due_back}
                p #[strong ID:]&nbsp;
                    a(href=val.url) #{val.id}
        
    
        else
            p Do you really want to delete this book

            form(method="POST" action="")
                .form-group
                    input#bookid.form-control(type="hidden", name="id", value=book._id, required="true")
            
                button.btn.btn-primary(type="submit") Delete